body{
    line-height: 1.6;
    height: 1000px;
}
.list{
    width: calc(100% - 60px);
    margin: 30px;
    border: none;
    height: 500px;
}


.postinner{margin: 30px;}
.line, .postline{margin: auto;}
.postline{
    width: 300px;
    border-bottom: solid 3px black;
}
.date{
    margin: 40px 0px;
    color: gray;
}


.paragraph{
    padding: 20px 0px;
    text-indent: 30px;
    text-align: justify;
}
.innerlink{
    color:orange;
}

#urls{
    margin: auto;
    width: 100%;
    border: none;
    color: gray;
}

.copyurl{
    width: fit-content;
    margin: auto;
    padding: 10px;
    color: gray;
    border: solid black 1px;
    border-radius: 20px;
    background-color: white;
    transition: 0.1s ease-in-out;
}

.copyurl:hover{
    border: solid black 3px;
    font-weight: 700;
    color:black;
}
.copyurl:active{
    background-color: yellow;
}
